<%- include('../partials/header') %>

    <div class="container">
        <div class="row">
            <h1>Edit Page</h1>
            <div class="col-lg-5">
                <form action="/dashboard/edit/<%= data.id %>" method="post" class="my-5">
                    <div class="row mx-0 mt-3">
                        <div class="col-4 mx-5">
                            <label for="title">Title</label>
                            <input type="text" name="title" value="<%= data.title %>" id="title" placeholder="Title"
                                required>
                        </div>
                        <div class="col-4">
                            <label for="subtitle">Sub Title</label>
                            <input type="text" name="subtitle" value="<%= data.subtitle %>" id="subtitle"
                                placeholder="Sub title" required>
                        </div>
                        <button class="btn btn-primary my-5" type="submit">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <%- include('../partials/footer') %>