<%- include(rootPath + '/views/layout/dashboardHeader.ejs' ) %>

    <div class="container mt-5">
        <a href="http://localhost:4545/dashboard/create" class="btn btn-primary mb-5">Create</a>
        <a href="http://localhost:4545" class="btn btn-outline-primary mb-5">Go Home</a>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Icon</th>
                </tr>
            </thead>
            <tbody>
                <% datas.forEach(element=> { %>
                    <tr>
                        <th scope="row">
                            <%= element.id %>
                        </th>
                        <td>
                            <%= element.title %>
                        </td>
                        <td>
                            <%= element.desc %>
                        </td>
                        <td>
                            <%= element.icon %>
                        </td>
                        <td class="d-flex align-items-center gap-4">
                            <a href="http://localhost:4545/dashboard/update/<%= element.id %>"
                                class="btn btn-warning">Edit</a>
                            <form method="post" action="/dashboard/deleteCard/<%= element.id %>"
                                onsubmit="return confirm('Are you sure you want to delete this card?')">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>

    <%- include(rootPath + '/views/layout/dashboardFooter.ejs' ) %>